spring:
  datasource:
    url: jdbc:mysql://mysql-development:3306/CUSTOMERS?createDatabaseIfNotExist=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: testing
  h2:
    console:
      enabled: true
  jpa:
    database: mysql
    generate-ddl: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL57Dialect

server:
  port: 8080